* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
a,
p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
